extends layout

block content
  .container
    h1 SAMOCHOD
    form(method='POST' action='')
      div.form-group
        if id
          input(type='hidden', name='id', value=id)
        label(for='rejestracja') Rejestracja:
        input.form-control(type='text', placeholder='rejestracja' name='rejestracja' value=(undefined===samochod ? '' : samochod.rejestracja))

      label(for='rodzaj') Rodzaj:
      select(name="rodzaj_id") Rodzaj:
        each val in rodzaje
          option(value=val.idRodzaj)= val.model+" "+val.marka+" "+val.rocznik
      br

      button.btn.btn-primary(type='submit') Submit
      
    if errors
     ul
      for error in errors
       li!= error.msg
